@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  min-height: 80svh;
  background-color: #7fffd4;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #2c2c2c;
}
.logo {
  height: 30px;
}
.menu {
  width: 30px;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#checkbox {
  display: none;
}
header > nav {
  display: flex;
  width: 35%;
  gap: 2px;
  justify-content: center;
  gap: 10px;
  background-color: #2c2c2c;
}
.navigator {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  color: white;
  cursor: pointer;
}
#icons {
  display: flex;
  align-items: center;
  gap: 3px;
}
#icons img {
  cursor: pointer;
}

#filtros {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#filtroMarca {
  border-radius: 5px;
  border: solid #2c2c2c;
}
#filtroPrecio {
  border-radius: 5px;
  border: solid #2c2c2c;
}
#aplicarFiltro {
  border-radius: 5px;
  border: solid #2c2c2c;
  padding: 5px 20px;
}
#limpiarFiltro {
  border-radius: 5px;
  border: solid #2c2c2c;
  padding: 5px 20px;
}
#filters {
  height: 22%;
}

#filters > img {
  height: 30px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
#plalleras {
  margin: 100px 0px;
}
#plalleras > div {
  flex-direction: column;
  width: 250px;
  padding: 20px 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #f1f1f1;
}
#plalleras > h2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgContainer {
  margin-top: 20px;
  width: 80%;
  height: 200px;
  border-radius: 5px;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.boton {
  padding: 10px 70px 10px 70px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px;
}

.JD {
  width: 100%;
  height: 100%;
}
.arrow {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-height: 40svh;
  flex-wrap: wrap;
}
footer h3 {
  color: #ffffff;
}
.servicios {
  display: inline-block;
  flex-direction: column;
  cursor: pointer;
  color: white;
}
footer section {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 768px) {
  #filtros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #filtroMarca {
    width: 200px;
    border-radius: 5px;
    border: solid #2c2c2c;
    padding: 8px;
  }
  #filtroPrecio {
    width: 200px;
    border-radius: 5px;
    border: solid #2c2c2c;
    padding: 8px;
    flex-wrap: wrap;
  }
  #aplicarFiltro {
    width: 75px;
    border-radius: 5px;
    border: solid #2c2c2c;
  }
  #limpiarFiltro {
    width: 80pxpx;
    border-radius: 5px;
    border: solid #2c2c2c;
  }

  footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  footer section div:nth-child(2) {
    padding-right: 20px;
  }
  .menu {
    display: inline;
  }
  .menu img {
    width: 30px;
    filter: invert(100%);
  }
  .navigator {
    display: none;
  }
  #checkbox:checked + ul.navigator {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .navigator {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #7fffd4;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    width: 100px;
  }
  .navigator li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: black;
    z-index: 1;
  }
  .navigator li:hover {
    background-color: #f4f4f4;
  }
}
@media (min-width: 560px) {
  #plalleras > h2 {
    width: 100%;
    height: 100%;
    padding-bottom: 500px;
  }
}
/* terminado */
